[Unit]
Description=MiBot update task
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=@ROOT@
ExecStart=@BASH@ @UPDATE_SCRIPT@
Environment=@PATH@
Environment=@PLUGINS@
User=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mibot-update
